[Unit]
Description=nightvale notebook server (klisp)
ConditionPathExists=/home/nightvale/go/bin/ink
After=network.target

[Service]
Type=simple
User=nightvale
LimitNOFILE=1024

Restart=always
RestartSec=5
StartLimitIntervalSec=60

WorkingDirectory=/home/nightvale/klisp
ExecStart=until /home/nightvale/go/bin/ink ./src/cli.ink --port 7900; do echo 'Re-starting Nightvale...'; done

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/nightvale
ExecStartPre=/bin/chown syslog:adm /var/log/nightvale
ExecStartPre=/bin/chmod 755 /var/log/nightvale
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nightvale

[Install]
WantedBy=multi-user.target
