html,
body {
    --c-bg: #f8f8f8;
    --font-sans: 'IBM Plex Sans', Helvetica, sans-serif;
    --font-mono: 'IBM Plex Mono', 'Menlo', monospace;
	--paper-accent: #222;

    background: var(--c-bg);
    font-size: 20px;
	margin: 0;
}

body,
textarea,
input,
button {
    font-size: 1em;
    font-family: var(--font-sans);
}

h1,
h2,
h3,
p {
    font-weight: normal;
    min-height: 1em;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
}

code,
pre {
	font-family: var(--font-mono);
}

textarea {
    display: block;
}

textarea:focus {
    outline: none;
}

.mobile {
	display: none;
}

/* LAYOUT */

header,
main,
footer {
    max-width: 840px;
    width: calc(100% - 2em);
    margin: 32px auto 64px auto;
	line-height: 1.5em;
}

/* HEADER, FOOTER */

header,
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left,
.right {
    flex-grow: 0;
    flex-shrink: 1;
	white-space: nowrap;
}

.center {
    flex-grow: 1;
    flex-shrink: 1;
    height: 1px;
    width: 0;
    background: #888;
    margin: 0 1em;
}

header a {
	text-decoration: none;
}

header a:hover {
	opacity: .6;
}

header .left {
	/* in case of really long doc names */
	overflow: hidden;
    text-overflow: ellipsis;
}

.docID {
	color: #888;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

.docID:hover {
	text-decoration: underline;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
}

nav a {
	display: block;
	margin-left: .8em;
}

nav a:first-child {
	margin-left: 0;
}

footer .right {
	font-style: italic;
}

/* BLOCK */

.block {
    margin: 1.5em 0;
    width: 100%;
    position: relative;
    line-height: 1.5em;
    border-radius: 2px;
    padding: 0;
    min-height: 40px;
}

.block-text:hover {
    cursor: pointer;
}

.block-buttons {
    position: absolute;
    top: 4px;
    right: 4px;
    transition: opacity 0.15s;
    opacity: 0;
    pointer-events: none;
    font-size: 16px;
    border-radius: 6px;
    z-index: 10;
}

.block:hover .block-buttons {
    opacity: 1;
    pointer-events: all;
}

.block-code {
    border-radius: 6px;
    overflow: hidden;
    transition: opacity .3s;
}

.block-code.evaling {
    opacity: .5;
}

.block-code-result {
    padding: .8em .5em;
    background: #f0f0f0;
    word-wrap: break-all;
    box-sizing: border-box;
}

.textarea-code,
.textarea-text,
.p-spacer {
    padding: .8em .5em;
    border: 0;
    resize: none;
    box-sizing: border-box;
    width: 100%;
}

.textarea-code,
.block-code-result,
.block-code-editor .p-spacer {
    width: 100%;
    font-family: var(--font-mono);
    line-height: 1.5em;
}

.textarea-text {
    line-height: 1.5em;
}

.block-text-editor,
.block-code-editor {
    position: relative;
}

.p-spacer {
    white-space: pre-wrap;
    visibility: hidden;
}

.p-spacer.padded {
    padding-bottom: 2.3em; /* 1.5em line + .8em padding */
}

.block-text-editor .textarea-text,
.block-code-editor .textarea-code {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.block button {
    border: 0;
    background: #eee;
    font-family: var(--font-mono);
    margin: 4px;
}

.block button:hover {
    background: #ddd;
    border-radius: 4px;
}

.new-block-button {
    border: 0;
    background: 0;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

/* STATIC PAGES */

.inputRow {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	justify-content: flex-start;
}

.inputRow input {
	margin-right: .8em;
	width: 20em;
	min-width: 0;
	flex-grow: 0;
	flex-shrink: 1;
}

.inputRow button {
	flex-grow: 0;
	flex-shrink: 0;
}

/* DOC LIST */

.doc-list {
	padding-left: 0;
}

.doc-list-li {
	list-style: none;
	line-height: 1.5em;
	margin-bottom: .3em;
}

@media only screen and (max-width: 550px) {
	html,
	body {
		font-size: 16px;
	}
	.mobile {
		display: initial;
	}
	.desktop {
		display: none;
	}
}

